html {
  background: #eee;
}
#animals {
  display: flex;
  flex-wrap: wrap;
}
#animals section {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 5px;
}
#animals section .img-wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  height: 160px;
  width: 200px;
  overflow: hidden;
}
#animals section .img-wrap img {
  width: 100%;
  flex-shrink: 0;
  flex-basis: min-content;
}